<div class="body">
    <div class="logs-container">
        <h2>Logs</h2>
        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Action</th>
                    <th>Titre de Formation</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let log of logs">
                    <td>{{ log.email }}</td>
                    <td>{{ log.action }}</td>
                    <td>{{ log.title }}</td>
                    <td>{{ log.timestamp | date:'short' }}</td>
                </tr>
                <!-- Add a message for no logs -->
                <tr *ngIf="logs.length === 0">
                    <td colspan="4">No logs available.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
