<app-header></app-header>
<br>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nom">Nom:</label>
          <input type="text" id="nom" formControlName="nom" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
        <div *ngIf="errorMessage" class="alert alert-danger mt-2">{{ errorMessage }}</div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
