<app-header></app-header>
<div class="body">
  <div class="site-section-cover overlay" style="background-image: url('assets/images/hero_bg.jpg');">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10 text-center">
          <h1>The <strong>Hub</strong> Of <strong>Tutorials</strong></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
          <div class="form-group">
          
            <input type="text" id="title" formControlName="title" class="form-control" hidden>
          </div>
            <div class="form-group">
              <label for="title">Title:</label>
              <input type="text" id="title" formControlName="title" class="form-control" required>
            </div>
            
            <div class="form-group">
              <label for="description">Description:</label>
              <input type="text" id="description" formControlName="description" class="form-control" required>
            </div>
            
            <div class="form-group">
              <label for="category">Category:</label>
              <input type="text" id="category" formControlName="category" class="form-control" required>
            </div>
            
            <div class="form-group">
              <label for="duration">Duration:</label>
              <input type="text" id="duration" formControlName="duration" class="form-control" required>
            </div>
            
            <div class="form-group">
              <label for="level">Level:</label>
              <input type="text" id="level" formControlName="level" class="form-control" required>
            </div>
            
            <div class="form-group" *ngIf="!idcourant">
              <label for="image">Image:</label>
              <input type="file" id="image" (change)="onFileSelected($event)" formControlName="image" class="form-control-file" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          
      </div>
    </div>
  </div>
  <br><br><br><br><br>
</div>

<app-footer></app-footer>

<style>
  .body {
    background-color: rgba(214, 214, 214, 0.16);
  }

  /* Styles spécifiques pour le formulaire */
  .container {
    max-width: 1200px; /* Ajustez la largeur maximale selon vos besoins */
  }

  .form-group {
    margin-bottom: 1.5rem; /* Espacement entre les groupes de formulaire */
  }

  /* Ajoutez d'autres styles personnalisés selon vos préférences */
</style>
